* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: sans-serif;
}



.header-score-timer {

    justify-content: space-between;
    display: flex;
    padding: 15px;

}
#quiz-start {

    text-align: center;

}
#quiz {
    text-align: center;
}

#quiz-start1 {
    margin: 5px 20em 5px 20em;
    display: flex;
    font-size: 20px;
    text-align: center;
}
#button-start {
    background-color: #333399;
    padding: 5px;
    color: white;
    margin-left: 50em;


}
.container {
    display: block;
    margin-left: 18em;
    font-size: 25px;

}
#question-choices {
    display: inline-grid;
    

}
button {
    background-color: #333399;
    color: white;
    padding: 5px;
}

#done {
   padding: 50px;
   text-align: center;
   display: none;
}

#initials-submit {
    background-color: #333399;
    color: white;
    padding: 5px;

}
#highscores {
    display: block;
    text-align: center;
    display: none;
}

