* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: sans-serif;
}



.header-score-timer {

    justify-content: space-between;
    display: flex;
    padding: 15px;

}
.start-quiz {

    text-align: center;

}
.start-quiz h2{
    font-size: 20px;
}
#quiz-start1 {
    margin: 5px 250px 5px 250px;
    display: flex;
}
.button-start {
    background-color: #333399;
    padding: 5px;
    color: white;


}
button {
    background-color: #333399;
    color: white;
    padding: 5px;
}
#sets {
   
    display: block;
    margin: 0 25em 0 25em;
    display: none;
    

}

#sets h2{
    text-align: center;
}

#sets button {
    background-color: #333399;
    color: white;
    padding: 5px;
    display: table; 
    
}

#done {
   padding: 50px;
   text-align: center;
   display: none;
}

#initials-submit {
    background-color: #333399;
    color: white;
    padding: 5px;

}
#highscores {
    display: block;
    text-align: center;
    display: none;
}
#finish {
    background-color: #333399;
    color: white;
    padding: 5px;
}
